<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:classappend="${theme}">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container-fluid">
        <img src="/faviconalt.png" style="scale: 90%">
        <div style="height: 5px; width: 8px"></div>
        <a class="navbar-brand" th:href="@{/}">PhotoPulse</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li id="theme-toggle" style="cursor: pointer;margin-right: 8px;color: white;margin-top: 9px;">
                    <i id="theme-icon" class="fa fa-moon" th:classappend="${theme == 'dark-theme' ? 'fa-sun' : 'fa-moon'}"></i>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/dashboard}">Dashboard</a>
                </li>
                <li class="nav-item" th:if="${isOrganizer}">
                    <a class="nav-link" th:href="@{/users}">User Panel</a>
                </li>
                <li class="nav-item" th:if="${isOrganizer}">
                    <a class="nav-link" th:href="@{/contests/create}">Create Contest</a>
                </li>
                <li class="nav-item" th:unless="${isAuthenticated}">
                    <a class="nav-link" th:href="@{/login(resetRedirectUrl=true)}">Login</a>
                </li>
                <li class="nav-item" th:unless="${isAuthenticated}">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item" th:if="${isAuthenticated}">
                    <a class="nav-link" th:href="@{/logout}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="card h-100" th:fragment="contest-view">
    <img th:src="${contest.coverPhotoUrl}" class="card-img-top" alt="Contest 1">
    <div class="card-body">
        <h5 class="card-title" th:text="${contest.title}">Nature Photography Contest</h5>
        <p class="card-text" th:text="'Category: ' + ${contest.category}"></p>
        <a th:href="'/contests/' + ${contest.id}" class="btn btn-primary">View Contest Details</a>
    </div>
</div>


<a th:href="@{/contests/{contestId}(contestId=${contest.id})}" class="text-decoration-none text-dark"
   th:fragment="contest-card">
<div class="">
    <img th:src="${contest.coverPhotoUrl}" alt="Contest Photo" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title text-color" th:text="${contest.title}">Landscape Photography Contest</h5>
        <p class="card-text text-color" style="margin-bottom: 0">
            Category: <span th:text="${contest.category}">Landscapes</span><br>
            Phase: <span th:text="${contest.contestPhase.toString()}">Phase II</span>
        </p>
        <p class="card-text text-color" th:if="${contest.contestPhase.toString() == 'Phase II'}">
            Phase ends on: <span th:text="${#dates.format(contest.phase2End, 'MMMM d, yyyy')}">November 30</span>
        </p>
        <p class="card-text text-color" th:if="${contest.contestPhase.toString() == 'Phase I'}">
            Phase ends on: <span th:text="${#dates.format(contest.phase1End, 'MMMM d, yyyy')}">November 30</span>
        </p>
    </div>
</div>
</a>

<footer th:fragment="footer" class="footer bg-dark text-white text-center py-3">
    <div class="container">
        <p>&copy; 2024 PhotoPulse. All Rights Reserved.</p>
    </div>
</footer>
</body>
</html>