<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">PhotoContest</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" th:if="${isOrganizer}">
                    <a class="nav-link" th:href="@{/dashboard/organizer}">Dashboard</a>
                </li>
                <li class="nav-item" th:unless="${isOrganizer}">
                    <a class="nav-link" th:href="@{/dashboard/junkies}">Dashboard</a>
                </li>
                <li class="nav-item" th:if="${isOrganizer}">
                    <a class="nav-link" th:href="@{/contests/create}">Create Contest</a>
                </li>
                <li class="nav-item" th:unless="${isAuthenticated}">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" th:unless="${isAuthenticated}">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item" th:if="${isAuthenticated}">
                    <a class="nav-link" th:href="@{/logout}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="bg-dark text-white text-center py-3">
    <div class="container">
        <p>&copy; 2024 Photography Contest. All Rights Reserved.</p>
    </div>
</footer>

<div class="card h-100" th:fragment="contest-view">
    <img th:src="'data:image/jpeg;base64,' + ${contest.coverPhotoUrl}" class="card-img-top" alt="Contest 1">
    <div class="card-body">
        <h5 class="card-title" th:text="${contest.title}">Nature Photography Contest</h5>
        <p class="card-text" th:text="'Category: ' + ${contest.category}"></p>
        <a th:href="'/contests/' + ${contest.id}" class="btn btn-primary">View Contest Details</a>
    </div>
</div>


<a th:href="@{/contests/{contestId}(contestId=${contest.id})}" class="text-decoration-none text-dark"
   th:fragment="contest-card">
<div class="">
    <img th:src="'data:image/jpeg;base64,' + ${contest.coverPhotoUrl}" alt="Contest Photo" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title" th:text="${contest.title}">Landscape Photography Contest</h5>
        <p class="card-text" style="margin-bottom: 0">
            Category: <span th:text="${contest.category}">Landscapes</span><br>
            Phase: <span th:text="${contest.contestPhase.toString()}">Phase II</span>
        </p>
        <p class="card-text" th:if="${contest.contestPhase.toString() == 'Phase II'}">
            Phase ends on: <span th:text="${#dates.format(contest.phase2End, 'MMMM d, yyyy')}">November 30</span>
        </p>
        <p class="card-text" th:if="${contest.contestPhase.toString() == 'Phase I'}">
            Phase ends on: <span th:text="${#dates.format(contest.phase1End, 'MMMM d, yyyy')}">November 30</span>
        </p>
    </div>
</div>
</a>
</body>
</html>