<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Photography Contest</title>
  <!-- Bootstrap CSS from local file -->
  <link th:href="@{/css/bootstrap.css}" href="/static/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="icon" type="image/png" th:href="@{/favicon.png}">
  <link rel="stylesheet" th:href="@{/css/bgNavAndFootStyle.css}" href="../static/css/bgNavAndFootStyle.css">
</head>
<body th:classappend="${theme}">

<nav th:replace="~{ForumForms.html :: navbar}"></nav>

<div class="login-container">
  <h2 class="text-center">Login</h2>
  <h3 class="text-center" th:if="${sentEmail}" style="color: green">Password reset e-mail sent.</h3>
  <form action="#" th:action="@{/login}" th:method="post" th:object="${login}">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input th:field="*{username}" type="text" minlength="2" maxlength="50" class="form-control" id="username" placeholder="Enter your username" required>
      <div class="error" style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input th:field="*{password}" type="password" minlength="6" maxlength="50" class="form-control" id="password" placeholder="Enter your password" required>
      <div class="error" style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="text-center mt-3">
      <p>Don't have an account? <a class="login-text" th:href="@{/register}">Register Here</a></p>
      <p>Forgot password? <a class="login-text" th:href="@{/reset-password}">Click Here</a></p>
    </div>
  </form>
</div>

<!-- Footer -->
<footer th:replace="~{ForumForms.html :: footer}"></footer>

<!-- Bootstrap JS -->
<script src="js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/darkLigthTheme.js}" src="../static/js/darkLigthTheme.js"></script>
</body>
</html>
