<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Photography Contest</title>
    <!-- Bootstrap CSS from local file -->
    <link th:href="@{/css/bootstrap.css}" href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" th:href="@{/css/bgNavAndFootStyle.css}" href="../static/css/bgNavAndFootStyle.css">
</head>
<body>
<nav th:replace="~{ForumForms.html :: navbar}"></nav>

<!-- Password Reset Form -->
    <div class="reset-container">
        <h2 class="text-center">Reset Password</h2>
        <form action="#" th:action="@{/reset-password}" th:method="post" th:object="${email}">
    <!--        <input type="hidden" th:field="*{token}" th:value="${param.token}">-->
            <div class="mb-3">
                <label for="email" class="form-label">E-Mail</label>
                <input th:field="*{email}"  type="email" class="form-control" id="email" placeholder="Enter your E-Mail" required>
                <div class="error" style="color: red" th:errors="${email.email}" >Email error</div>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Send Reset Password Email</button>
            </div>
        </form>
    </div>
<!-- Footer -->
<footer th:replace="~{ForumForms.html :: footer}"></footer>

<!-- Bootstrap JS -->
<script src="js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/darkLigthTheme.js}" src="../static/js/darkLigthTheme.js"></script>
</body>
</html>
